USE [master]
GO
/****** Object:  Database [DB_Bib]    Script Date: 08/06/2020 19:16:32 ******/
CREATE DATABASE [DB_Bib] ON  PRIMARY 
( NAME = N'DB_Bib', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_Bib.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Bib_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_Bib_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Bib].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Bib]
GO
/****** Object:  StoredProcedure [dbo].[confirmer]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[confirmer] @id int , @nom  nvarchar(50) , @prenom nvarchar(50) ,@dn date , @id_classe int
AS begin
if( exists(Select * from eleve where id = @id))
begin
Update eleve set nom = @nom , prenom=@prenom , datenaiss=@dn,id_classe=@id_classe where id =@id
end
else 
INSERT INTO eleve([nom],[prenom],[datenaiss],[id_classe])VALUES(@nom,@prenom ,@dn,@id_classe)
end
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NULL,
 CONSTRAINT [PK_categorie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[classe]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NULL,
 CONSTRAINT [PK_classe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[demande]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[demande](
	[id_eleve] [int] NOT NULL,
	[id_livre] [int] NOT NULL,
	[date_prise] [date] NULL,
	[date_retour] [date] NULL,
	[valide_Retour] [bit] NULL,
 CONSTRAINT [PK_demande] PRIMARY KEY CLUSTERED 
(
	[id_eleve] ASC,
	[id_livre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eleve]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eleve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NULL,
	[prenom] [nvarchar](50) NULL,
	[datenaiss] [date] NULL,
	[id_classe] [int] NULL,
 CONSTRAINT [PK_eleve] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[livre]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[livre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titre] [nvarchar](50) NULL,
	[auteur] [nvarchar](50) NULL,
	[edition] [nvarchar](100) NULL,
	[photo] [nvarchar](1000) NULL,
	[id_cat] [int] NULL,
	[quantite] [int] NULL,
	[disponibilite] [bit] NOT NULL,
 CONSTRAINT [PK_livre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[utilisateur]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NULL,
	[prenom] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[pw] [nvarchar](50) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_utilisateur] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[categorie] ON 

INSERT [dbo].[categorie] ([id], [nom]) VALUES (1, N'Roman')
INSERT [dbo].[categorie] ([id], [nom]) VALUES (2, N'Conte')
INSERT [dbo].[categorie] ([id], [nom]) VALUES (3, N'Dictionnaire')
SET IDENTITY_INSERT [dbo].[categorie] OFF
SET IDENTITY_INSERT [dbo].[classe] ON 

INSERT [dbo].[classe] ([id], [nom]) VALUES (1, N'A1_G1')
INSERT [dbo].[classe] ([id], [nom]) VALUES (2, N'A1_G2')
INSERT [dbo].[classe] ([id], [nom]) VALUES (3, N'A1_G3')
SET IDENTITY_INSERT [dbo].[classe] OFF
INSERT [dbo].[demande] ([id_eleve], [id_livre], [date_prise], [date_retour], [valide_Retour]) VALUES (1, 1, CAST(0x8A3F0B00 AS Date), CAST(0xAD3F0B00 AS Date), 1)
INSERT [dbo].[demande] ([id_eleve], [id_livre], [date_prise], [date_retour], [valide_Retour]) VALUES (1, 2, CAST(0xA43F0B00 AS Date), CAST(0xAD3F0B00 AS Date), 0)
INSERT [dbo].[demande] ([id_eleve], [id_livre], [date_prise], [date_retour], [valide_Retour]) VALUES (1, 5, CAST(0x2C410B00 AS Date), CAST(0x30410B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[eleve] ON 

INSERT [dbo].[eleve] ([id], [nom], [prenom], [datenaiss], [id_classe]) VALUES (1, N'Safrioui', N'Anas', CAST(0xF62A0B00 AS Date), 2)
INSERT [dbo].[eleve] ([id], [nom], [prenom], [datenaiss], [id_classe]) VALUES (2, N'Fatimi', N'Ahmed', CAST(0x0C2B0B00 AS Date), 2)
INSERT [dbo].[eleve] ([id], [nom], [prenom], [datenaiss], [id_classe]) VALUES (3, N'Alali', N'Fatima', CAST(0xC12B0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[eleve] OFF
SET IDENTITY_INSERT [dbo].[livre] ON 

INSERT [dbo].[livre] ([id], [titre], [auteur], [edition], [photo], [id_cat], [quantite], [disponibilite]) VALUES (1, N'Birth Marked', N'Caragh M. O’Brien', N'EDITIONS MANGO', N'photo_livre\Rebelle.jpg', 1, 1, 1)
INSERT [dbo].[livre] ([id], [titre], [auteur], [edition], [photo], [id_cat], [quantite], [disponibilite]) VALUES (2, N'Vagabonde - Les voleurs de têtes', N'Hervé Jubert', N'RAGEOT', N'photo_livre\51y3U5vfXvL._SX343_BO1,204,203,200_.jpg', 6, 14, 1)
INSERT [dbo].[livre] ([id], [titre], [auteur], [edition], [photo], [id_cat], [quantite], [disponibilite]) VALUES (3, N'Les Haut-Conteurs 4 : Treize damnés', N'Oliver Peru , Patrick Mc Spare', N'SCRINEO-LES CARNETS DE l’INFO', N'photo_livre\71cMCNmK8FL.jpg', 1, 8, 1)
SET IDENTITY_INSERT [dbo].[livre] OFF
SET IDENTITY_INSERT [dbo].[utilisateur] ON 

INSERT [dbo].[utilisateur] ([id], [nom], [prenom], [username], [pw], [photo]) VALUES (1, N'jaouhari', N'mariem', N'admin', N'123', N'photo_adminHibaZahoui.jpg')
SET IDENTITY_INSERT [dbo].[utilisateur] OFF
ALTER TABLE [dbo].[demande] ADD  CONSTRAINT [DF_demande_valide_Retour]  DEFAULT ((0)) FOR [valide_Retour]
GO
ALTER TABLE [dbo].[livre] ADD  CONSTRAINT [DF_livre_disponibilite]  DEFAULT ((1)) FOR [disponibilite]
GO
ALTER TABLE [dbo].[demande]  WITH CHECK ADD  CONSTRAINT [FK_demande_eleve] FOREIGN KEY([id_eleve])
REFERENCES [dbo].[eleve] ([id])
GO
ALTER TABLE [dbo].[demande] CHECK CONSTRAINT [FK_demande_eleve]
GO
ALTER TABLE [dbo].[demande]  WITH CHECK ADD  CONSTRAINT [FK_demande_livre] FOREIGN KEY([id_livre])
REFERENCES [dbo].[livre] ([id])
GO
ALTER TABLE [dbo].[demande] CHECK CONSTRAINT [FK_demande_livre]
GO
ALTER TABLE [dbo].[eleve]  WITH CHECK ADD  CONSTRAINT [FK_eleve_classe] FOREIGN KEY([id_classe])
REFERENCES [dbo].[classe] ([id])
GO
ALTER TABLE [dbo].[eleve] CHECK CONSTRAINT [FK_eleve_classe]
GO
ALTER TABLE [dbo].[livre]  WITH CHECK ADD  CONSTRAINT [FK_livre_categorie] FOREIGN KEY([id_cat])
REFERENCES [dbo].[categorie] ([id])
GO
ALTER TABLE [dbo].[livre] CHECK CONSTRAINT [FK_livre_categorie]
GO
/****** Object:  Trigger [dbo].[triggerDeleteDem]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[triggerDeleteDem]
   ON  [dbo].[demande] 
   for  delete
AS 
BEGIN

declare @id int
	select @id=id_livre from deleted ;
	update livre set quantite=quantite+1 where id=@id;
	
	
	
END
GO
/****** Object:  Trigger [dbo].[triggerInsertDem]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[triggerInsertDem]
   ON  [dbo].[demande] 
   for  insert
AS 
BEGIN

declare @id int
	select @id=id_livre from inserted ;
	update livre set quantite=quantite-1 where id=@id;
	
	
	
END
GO
/****** Object:  Trigger [dbo].[triggerUpdateDem]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[triggerUpdateDem]
   ON  [dbo].[demande] 
   for  update
AS 
BEGIN

declare @id int
	select @id=id_livre from deleted ;
	update livre set quantite=quantite+1 where id=@id;
	select @id=id_livre from inserted ;
	update livre set quantite=quantite-1 where id=@id;
	
	
END
GO
/****** Object:  Trigger [dbo].[trigerQtt]    Script Date: 08/06/2020 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trigerQtt]
   ON  [dbo].[livre] 
   for  UPDATE 
AS 
BEGIN
declare @qtt int 
declare @id int
	select @id=id , @qtt=quantite from inserted 
	if(@qtt=0)
	update livre set disponibilite=0 where id=@id;
	if(@qtt>0)
	update livre set disponibilite=1 where id=@id;
	
	
END

GO
/****** Object:  Statistic [_WA_Sys_00000002_0EA330E9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_0EA330E9] ON [dbo].[categorie]([nom]) WITH STATS_STREAM = 0x01000000010000000000000000000000C066A1A1000000003702000000000000F701000000000000E702FFFFE7000000640000000000000008D0000000000000070000009A7A6B0193AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0410000803F000000000000C041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000370000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002F0044006F00630075006D0065006E0074006100690072006500FF01000000000000000100000001000000280000002800000000000000000000000C00000044006F00630075006D0065006E0074006100690072006500020000004000000000010C000000000100000000000000
GO
/****** Object:  Statistic [PK_categorie]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[categorie]([PK_categorie]) WITH STATS_STREAM = 0x0100000001000000000000000000000070D1840B000000002802000000000000E801000000000000380300003800000004000A00000000000000000000000000070000006EF96B0193AB0000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_108B795B]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_108B795B] ON [dbo].[classe]([nom]) WITH STATS_STREAM = 0x010000000100000000000000000000004537333B000000001B02000000000000DB01000000000000E7020000E7000000640000000000000008D000007F000000070000009FC31E0096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001002100410031005F0047003200FF010000000000000001000000010000002800000028000000000000000000000005000000410031005F00470032000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [PK_classe]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[classe]([PK_classe]) WITH STATS_STREAM = 0x010000000100000000000000000000007BD78A6000000000EA01000000000000AA01000000000000380300003800000004000A000000000000000000000000000700000014CB1E0096AB000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 9, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[demande]([id_livre]) WITH STATS_STREAM = 0x010000000100000000000000000000005DD4431500000000CB010000000000008B01000000000000380300003800000004000A0000000000000000007F000000070000000E14200096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[demande]([date_prise]) WITH STATS_STREAM = 0x010000000100000000000000000000002C18DF2F00000000E801000000000000A801000000000000280200002800000003000A00000000000000000000000000070000004259200096AB000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000004000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003C00000000000000440000000000000010000000000000002600000000000000100013000000803F000000000000803FA43F0B040000100013000000803F000000000000803FA53F0B0400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_37A5467C]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000004_37A5467C] ON [dbo].[demande]([date_retour]) WITH STATS_STREAM = 0x01000000010000000000000000000000CE9E519000000000E801000000000000A801000000000000280200002800000003000A00000000000000000000000000070000004159200096AB000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000004000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003C00000000000000440000000000000010000000000000002600000000000000100013000000803F000000000000803FA83F0B040000100013000000803F000000000000803FA93F0B0400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_37A5467C]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000005_37A5467C] ON [dbo].[demande]([valide_Retour]) WITH STATS_STREAM = 0x010000000100000000000000000000001809F73D00000000C801000000000000880100000000000068025D6D6800000001000100000000000000000000000000070000002259200096AB000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F00000040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C00000000000000240000000000000008000000000000001000110000000040000000000000803F000400000200000000000000
GO
/****** Object:  Statistic [PK_demande]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[demande]([PK_demande]) WITH STATS_STREAM = 0x010000000200000000000000000000001FF5727A00000000E3010000000000008B01000000000000380300003800000004000A000000000000000000000000003803803F3800000004000A00000000000000000000000000070000000C14200096AB000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1273C1CD]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_1273C1CD] ON [dbo].[eleve]([nom]) WITH STATS_STREAM = 0x010000000100000000000000000000000FD6917F000000002702000000000000E701000000000000E7020000E7000000640000000000000008D00000FB7F00000700000004BA1F0096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002700530061006600720069006F0075006900FF010000000000000001000000010000002800000028000000000000000000000008000000530061006600720069006F00750069000200000040000000000108000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_1273C1CD]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000003_1273C1CD] ON [dbo].[eleve]([prenom]) WITH STATS_STREAM = 0x01000000010000000000000000000000FC8D492C000000001702000000000000D701000000000000E7020000E7000000640000000000000008D00000E70000000700000004BA1F0096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F0041006E0061007300FF01000000000000000100000001000000280000002800000000000000000000000400000041006E00610073000200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_1273C1CD]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000004_1273C1CD] ON [dbo].[eleve]([datenaiss]) WITH STATS_STREAM = 0x0100000001000000000000000000000026CF62E900000000CA010000000000008A0100000000000028025D6D2800000003000A000000000000000000020000000700000002BA1F0096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000803F00000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001E0000000000000026000000000000000800000000000000100013000000803F000000000000803FF62A0B0400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_1273C1CD]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000005_1273C1CD] ON [dbo].[eleve]([id_classe]) WITH STATS_STREAM = 0x0100000001000000000000000000000069D0B3B600000000CB010000000000008B0100000000000038025D6D3800000004000A000000000000000000020000000700000002BA1F0096AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
/****** Object:  Statistic [PK_eleve]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[eleve]([PK_eleve]) WITH STATS_STREAM = 0x010000000100000000000000000000002EDB1E3B00000000EA01000000000000AA01000000000000380300003800000004000A000000000000000000000000000700000025C0200096AB000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_44FF419A] ON [dbo].[livre]([titre]) WITH STATS_STREAM = 0x01000000010000000000000000000000BAB19D510000000083040000000000004304000000000000E7020000E7000000640000000000000008D000000000000007000000E6457C0199AB0000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000010000000254912420000E04000000000254912420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007A01000000000000CF02000000000000D70200000000000030000000000000005F000000000000007C00000000000000AD000000000000000A010000000000003101000000000000300010000000803F000000000000803F04000001002F004200690072007400680020004D00610072006B0065006400300010000000803F000000000000803F04000001001D00640064006400300010000000803F000000000000803F040000010031004C0019206F007200640069006E00610074007500650075007200300010000000803F000000000000803F04000001005D004C0065007300200048006100750074002D0043006F006E00740065007500720073002000340020003A00200054007200650069007A0065002000640061006D006E00E9007300300010000000803F000000000000803F0400000100270054007200610063006B00650072007300300010000000803F0000803F0000803F040000010049005A006F0061006E007400680072006F007000650073002000320020003A0020005200E900620065006C006C0069006F006E00FF01000000000000000700000007000000280000002800000000000000000000007F0000004200690072007400680020004D00610072006B00650064006400640064004C0019206F007200640069006E0061007400750065007500720065007300200048006100750074002D0043006F006E00740065007500720073002000340020003A00200054007200650069007A0065002000640061006D006E00E900730054007200610063006B00650072007300560061006700610062006F006E006400650020002D0020004C0065007300200076006F006C00650075007200730020006400650020007400EA007400650073005A006F0061006E007400680072006F007000650073002000320020003A0020005200E900620065006C006C0069006F006E00090000004000000000810C00000081030C0000C0010F0000810C10000001221C000081083E000081204600000119660000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000003_44FF419A] ON [dbo].[livre]([auteur]) WITH STATS_STREAM = 0x01000000010000000000000000000000DD07DA9500000000D7030000000000009703000000000000E7020C3EE7000000640000000000000008D00000FFFFFFFF07000000E6457C0199AB0000070000000000000007000000000000000000803F2549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000009224F9410000E040000000009224F941000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000F40000000000000023020000000000002B02000000000000200000000000000059000000000000009200000000000000C100000000000000300010000000803F000000000000803F0400000100390043006100720061006700680020004D002E0020004F00192042007200690065006E00300010000000803F000000000000803F04000001003900430068007200690073007400690061006E0020004700720065006E00690065007200300010000000803F0000803F0000803F04000001002F004800650072007600E90020004A0075006200650072007400300010000000803F000000400000803F040000010033005000610074007200690063006B0020004300610072006D0061006E00FF01000000000000000700000007000000280000002800000000000000000000006C00000043006100720061006700680020004D002E0020004F00192042007200690065006E0068007200690073007400690061006E0020004700720065006E0069006500720064006400640064004800650072007600E90020004A00750062006500720074004D006100740074006800690061007300200052006F0075006100670065004F006C0069007600650072002000500065007200750020002C0020005000610074007200690063006B0020004D0063002000530070006100720065005000610074007200690063006B0020004300610072006D0061006E00090000004000000000C001000000811001000001101100008104210000810C250000810F310000811E400000010E5E0000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000004_44FF419A] ON [dbo].[livre]([edition]) WITH STATS_STREAM = 0x01000000010000000000000000000000D6324FF400000000B3030000000000007303000000000000E7025D6DE7000000C80000000000000008D000000000000007000000E5457C0199AB00000700000000000000070000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000002549F2410000E040000000002549F2410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002901000000000000FF010000000000000702000000000000280000000000000047000000000000007A00000000000000B500000000000000D800000000000000300010000000803F000000000000803F04000001001F006400640064006400300010000000803F000000000000803F04000001003300450044004900540049004F004E00530020004D0041004E0047004F00300010000000803F000000000000803F04000001003B004C00690073007400650020006400650073002000650064006900740065007500720073003000100000000040000000000000803F0400000100230052004100470045004F0054003000100000000040000000000000803F0400000100510053004300520049004E0045004F002D004C004500530020004300410052004E0045005400530020004400450020006C00192049004E0046004F00FF0100000000000000070000000500000028000000280000000000000000000000470000006400640064006400450044004900540049004F004E00530020004D0041004E0047004F004C006900730074006500200064006500730020006500640069007400650075007200730052004100470045004F00540053004300520049004E0045004F002D004C004500530020004300410052004E0045005400530020004400450020006C00192049004E0046004F000600000040000000008104000000810E04000081121200008206240000021D2A0000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000005_44FF419A] ON [dbo].[livre]([photo]) WITH STATS_STREAM = 0x0100000001000000000000000000000060A7D295000000002B09000000000000EB08000000000000E7020000E7000000D00700000000000008D000000200000007000000E4457C0199AB0000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000B76D77430000E04000000000B76D77430000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000001B0500000000000077070000000000007F07000000000000280000000000000041010000000000009202000000000000E303000000000000FC04000000000000300010000000803F000000000000803F0400000100190163003A005C00750073006500720073005C006100640069006C0020006400650076005C0064006F00630075006D0065006E00740073005C00760069007300750061006C002000730074007500640069006F00200032003000310033005C00500072006F006A0065006300740073005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C0033003000310035003300350039002E006A0070006700300010000000803F0000803F0000803F0400000100510163003A005C00750073006500720073005C006100640069006C0020006400650076005C0064006F00630075006D0065006E00740073005C00760069007300750061006C002000730074007500640069006F00200032003000310033005C00500072006F006A0065006300740073005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C0035003100790033005500350076006600580076004C002E005F00530058003300340033005F0042004F0031002C003200300034002C003200300033002C003200300030005F002E006A0070006700300010000000803F0000803F0000803F0400000100510163003A005C00750073006500720073005C006100640069006C0020006400650076005C0064006F00630075006D0065006E00740073005C00760069007300750061006C002000730074007500640069006F00200032003000310033005C00500072006F006A0065006300740073005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C0062006D005F004300560054005F0054007200610063006B006500720073002D00540031002D0047006C007900700068006D00610073007400650072005F0035003100320033002E006A0070006700300010000000803F000000000000803F0400000100190163003A005C00750073006500720073005C006100640069006C0020006400650076005C0064006F00630075006D0065006E00740073005C00760069007300750061006C002000730074007500640069006F00200032003000310033005C00500072006F006A0065006300740073005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00470065007300740069006F006E004200690062006C0069006F007400680069007100750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C0052006500620065006C006C0065002E006A0070006700300010000000803F000000000000803F04000001001F006400640064006400FF0100000000000000070000000700000028000000280000000000000000000000FB00000063003A005C00750073006500720073005C006100640069006C0020006400650076005C0064006F00630075006D0065006E00740073005C00760069007300750061006C002000730074007500640069007400680069007100750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C0033003000310035003300350039002E006A00700067005C003500310075006F004800510061003800480049004C002E005F00530058003300320034005F0042004F0031002C003200300034002C003200300033002C003200300030005F002E006A0070006700790033005500350076006600580076004C002E005F00530058003300340033005F0042004F0031002C003200300034002C003200300033002C003200300030005F002E006A0070006700750065005C00620069006E005C00440065006200750067005C00700068006F0074006F005F006C0069007600720065005C003700310063004D0043004E006D004B00380046004C002E006A007000670062006D005F004300560054005F0054007200610063006B006500720073002D00540031002D0047006C007900700068006D00610073007400650072005F0035003100320033002E006A007000670052006500620065006C006C0065002E006A007000670064006400640064000C0000004000000000C028000000C001500000C002510000812553000001257800000127C50000C01D280000810B450000010BEC000001289D00000104F70000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000006_44FF419A] ON [dbo].[livre]([id_cat]) WITH STATS_STREAM = 0x01000000010000000000000000000000DA3A0B40000000002802000000000000E80100000000000038026F003800000004000A00000000000000000076006900070000000E007C0199AB000006000000000000000600000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E0000000000000065000000000000001000140000000040000000000000803F01000000040000100014000000803F000000000000803F020000000400001000140000000040000000000000803F05000000040000100014000000803F000000000000803F060000000400000600000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000007_44FF419A] ON [dbo].[livre]([quantite]) WITH STATS_STREAM = 0x01000000010000000000000000000000A6640FCC0000000047020000000000000702000000000000380200003800000004000A0000000000000000000000000007000000E3457C0199AB00000700000000000000070000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000009B00000000000000A30000000000000028000000000000003F0000000000000056000000000000006D0000000000000084000000000000001000140000000040000000000000803F010000000400001000140000000040000000000000803F02000000040000100014000000803F000000000000803F05000000040000100014000000803F000000000000803F06000000040000100014000000803F000000000000803F0A0000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_44FF419A]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000008_44FF419A] ON [dbo].[livre]([disponibilite]) WITH STATS_STREAM = 0x01000000010000000000000000000000B9FAE12900000000E401000000000000A40100000000000068031300680000000100010000000000000000000200000007000000DA457C0199AB000007000000000000000700000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F0000E040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003800000000000000400000000000000010000000000000002400000000000000100011000000803F000000000000803F00040000100011000000C040000000000000803F010400000700000000000000
GO
/****** Object:  Statistic [PK_livre]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[livre]([PK_livre]) WITH STATS_STREAM = 0x0100000001000000000000000000000021D69F45000000000902000000000000C901000000000000380300003800000004000A00000000000000000000000000070000000A007C0199AB0000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000400000803F070000000400000600000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5AEE82B9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000002_5AEE82B9] ON [dbo].[utilisateur]([nom]) WITH STATS_STREAM = 0x010000000100000000000000000000007DEDAB44000000002302000000000000E301000000000000E7020000E7000000640000000000000008D000000200000007000000ADCE3001D4AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100250041006C0061006D00690068006800FF01000000000000000100000001000000280000002800000000000000000000000700000041006C0061006D006900680068000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5AEE82B9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000003_5AEE82B9] ON [dbo].[utilisateur]([prenom]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED5DF71F000000002702000000000000E701000000000000E7020000E7000000640000000000000008D000000200000007000000ADCE3001D4AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100270046006100740069006D00610068006800FF01000000000000000100000001000000280000002800000000000000000000000800000046006100740069006D006100680068000200000040000000000108000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_5AEE82B9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000004_5AEE82B9] ON [dbo].[utilisateur]([username]) WITH STATS_STREAM = 0x01000000010000000000000000000000B51F5498000000001B02000000000000DB01000000000000E7020000E7000000640000000000000008D00000E700000007000000502F2B01D4AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_5AEE82B9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000005_5AEE82B9] ON [dbo].[utilisateur]([pw]) WITH STATS_STREAM = 0x010000000100000000000000000000006818AB71000000001302000000000000D301000000000000E7020000E7000000640000000000000008D00000E7000000070000003D2F2B01D4AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D00310032003300FF0100000000000000010000000100000028000000280000000000000000000000030000003100320033000200000040000000000103000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_5AEE82B9]    Script Date: 08/06/2020 19:16:32 ******/
CREATE STATISTICS [_WA_Sys_00000006_5AEE82B9] ON [dbo].[utilisateur]([photo]) WITH STATS_STREAM = 0x01000000010000000000000000000000F49A346F000000003704000000000000F703000000000000E7020000E7000000FFFF00000000000008D000006100670007000000AACE3001D4AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000007A54470000803F00000000007A5447000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000AF0100000000000083020000000000008B020000000000000800000000000000300010000000803F000000000000803F0400000100A701FFD8FFE000104A46494600010101006000600000FFE100224578696600004D4D002A00000008000101120003000000010001000000000000FFDB0043000201010201010202020202020202030503030303030604040305070607070706070708090B0908080A0807070A0D0A0A0B0C0C0C0C07090E0F0D0C0E0B0C0C0CFFDB004301020202030303060303060C0807080C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0C0CFFC000110801A667FC44F0E5BEB314CCA157CB5264C7F19ED8AB7FB3DDF241A328BA7665B66288AB2B2966E8474AA1E2ABD90B0030BE64419B1DCE2B2FE10911F8C2F7E5076C6A467B1F5FAD719A7BDDCF54F13D8ADC49E6C6CD0EE1F73AE3F1EFF5AE65FCCB22CB6F34A3CC0549241FAE2BB6F11C9E66911C85577844E71D7815CEDD5A2240ECBF2B2B9231EF599D547E0390D452EE1976C522BA7F1123E63EF548DCCCA7FE3D616F739C9AD2F17FFA2491AC648F33963DCD604DACCF6F3346ACBB63254647614132A67FFFD900FF010000000000000001000000010000002800000028000000000000000000000050000000FFD8FFE000104A46494600010101006000600000FFE100224578696600004D4D002A00000008000101120003000000010001000000000000FFDB004300020101020101020202020202020203050303031D7815CEDD5A2240ECBF2B2B9231EF599D547E0390D452EE1976C522BA7F1123E63EF548DCCCA7FE3D616F739C9AD2F17FFA2491AC648F33963DCD604DACCF6F3346ACBB63254647614132A67FFFD9000200000040000000000150000000000100000000000000
GO
/****** Object:  Statistic [PK_utilisateur]    Script Date: 08/06/2020 19:16:32 ******/
UPDATE STATISTICS [dbo].[utilisateur]([PK_utilisateur]) WITH STATS_STREAM = 0x0100000001000000000000000000000086A303C900000000CB010000000000008B01000000000000380323E63800000004000A000000000000000000FA2491AC0700000027612A01D4AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
USE [master]
GO
